<footer>
  <hr>
  <center>
  <!-- Copyright footnote -->
  &copy; 2023 HomeScape Application.
  <!-- Footer links -->
  <nav>
	<a href="https://github.com/MF-Faqih">Github</a>
	<a href="https://www.linkedin.com/in/fadhlurrohman-faqih/">LinkedIn</a>
	<a href="https://rpubs.com/MF-Faqih">Rpubs</a>
  </nav>
  <center>
</footer>
